<div class="container">
        <h1>Order Canceled</h1>
        <p>Your order has been canceled. If you have any questions, please contact us.</p>
        <a asp-controller="Home" asp-action="Index" class="btn">Return to Homepage</a>
    </div>